[2019-04-23 14:50] afgane opened #2 "Convert init data for Postgres to a Helm chart template"
Instead of explicitly creating the `galaxy-initdb` configmap in the `galaxy` chart by running a command, create a configmap template so it can be deployed automatically as part of the chart.

- [x] Create a configmap template
- [x] Update README

[2019-04-24 19:27] #2 closed, assigned to afgane

[2019-04-25 18:37] afgane opened #3 "Decide which Galaxy config files need a ConfigMap"
Galaxy's config dir has over 30 `.sample` configuration files. We need to select a subset of those that are likely to be edited/configured as part of the Helm chart. Those will then be templated as ConfigMaps. The rest, we can just remain as `.sample` and used with the default values.

[2019-04-25 18:43] nuwang commented on #3
We could make all 30 editable through configmaps, but only if a value is set.
The entirety of the 30 galaxy configs may need to be modelled as a single config map, which is then mounted into the /galaxy/config directory.
If a value is set for that configmap entry in the values file, only then do we render out the corresponding file through the configmap. This way, most settings can default to the

[2019-04-25 18:51] afgane commented on #3
Right, but also we want to pick a subset that will be templated with values specified in the `values.yaml` file so they can be edited without having to edit the XML (via a ConfigMap)? Those are the ones I think need selection.

[2019-04-25 18:56] nuwang commented on #3
We can start off on an as-needed-basis? Say start with values.galaxy_conf, and then use values.galaxy_conf.raw to set the passthrough file, or individual properties that are rendered through our template. Since that mechanism is general, we can do that incrementally for any file we want over time. Probably all we need urgently are galaxy.yml, job_conf.xml and tool_conf.xml?

[2019-04-25 19:06] nuwang commented on #3
Hmm... Was just wondering whether that would conflict with our UI based editor though? For example, if galaxy_conf.raw is set, does our editor become non-functional? Perhaps we need to think of the entire value as a single large value? E.g. if .Values.job_conf is set, we use that, if not, we use some default template. There is no notion of a raw passthrough value at all. The disadvantage with this

[2019-04-25 19:32] afgane commented on #3
I was just looking through the list of config files and am wondering if we really need to template anything other than `galaxy.yml`, especially for the time being.

We will set `job_conf.xml` to use the K8S runner and that will really be the only runner available for the immediate future. Unless that needs some cluster-specific configuration (in which case we'll need to template it), we shouldn't

[2019-04-25 20:06] nuwang commented on #3
Yes, that sounds sensible to me too. Handling yaml files in helm is pretty natural anyway, so if values are set directly, we should be able to do something about it, even if it's complex and hierarchical (although we did run into problems with cloudman bootstrap data, and had to encode it etc)

XML is not so natural to pass through to a values file, because new lines etc. are problematic. The othe

[2019-04-30 15:48] almahmoud commented on #3
With a model similar to this attempt: https://github.com/CloudVE/galaxy-kubernetes/pull/4/commits/1acf7e5a37ca2bb4341504b69baacfe50f011797 we can template only the config files that we want, but still give the user the option to specify any config file by specifying its path and contents and have it be automatically added to the (single) configmap

[2019-04-30 19:07] afgane opened #6 "Get the Galaxy chart working on GKE by running kubectl command manually"
The process should be as follows:
- [x] Launch a GKE cluster (need k8s version 1.13, which installs only via `gcloud` command)
- [x] Install Helm (supposedly does not work on GKE v 1.13)
- [x] Add CloudVE helm charts repo to helm repos (will need to add packaged galaxy chart to https://github.com/CloudVE/helm-charts/tree/master/charts)
- [x] Install a persistent volume + claim for postgres (as per

[2019-04-30 20:13] afgane opened #7 "Create ConfigMaps for Galaxy files"
Based on the discussion in #3, it seems we need only `galaxy.yml` and `job_conf.xml` for the time being. However, more generally, it's really two types of files we're after: `yaml` and `xml` so the idea is to introduce a model for supporting those two file types and let the user define any config files they'd like.

This is the approach that was implemented in #5.

[2019-04-30 20:29] afgane commented on #3
Given the discussion and the above linked issue, providing values for `galaxy.yml` and `job_conf.xml` seems like a good starting point that is then extensible as the system gets more features and gets.

Closing this for now on that note.

[2019-04-30 20:29] #3 closed, assigned to jdavcs

[2019-04-30 20:29] almahmoud commented on #6
Some helpful notes:
- Setting up `gcloud` command-line: https://cloud.google.com/sdk/docs/
- Creating a gke cluster with k8s 1.13: `gcloud container clusters create [name] --cluster-version=1.13.5-gke.10 --enable-kubernetes-alpha --no-enable-autorepair --disk-size=30 --num-nodes=2`
- Generate k8s manifests with helm (no need for a tiller pod): `mkdir [dir-name] && helm template --name [release-nam

[2019-05-08 19:46] almahmoud commented on #7
Done with merge https://github.com/CloudVE/galaxy-kubernetes/pull/5 . Accepting raw content into any file or yaml contents. All contents get run through `tpl` so placeholders from within the `values.yaml` file are accepted under the content key.

[2019-05-09 19:00] almahmoud commented on #6
Valid `cluster-version` for GKE is now `1.13.5-gke.10` instead of `1.13.5-gke.7`

[2019-05-09 21:47] almahmoud commented on #6
I did some more testing on GKE the past few days.
Some notes in case they are helpful to someone who knows the chart (especially postgres) better than me:
- The (new) `initdb-configmap` has a name that varies based on the release, but it is referenced directly as `galaxy-initdb` (I believe from `.Values.initdbScriptsConfigMap` in other places). A quick fix is to just hard code the name of the conf

[2019-05-10 00:27] almahmoud commented on #6
P.S.: The above was all done by having the kubectl context pointing to a GKE 1.13.10 cluser. I'm pasting the main commands used in case it's helpful:
[code]
The commands for the `init-chmod-data` container changed in: `am-alex-testing-manifests/galaxy/charts/postgresql/templates/statefulset.yaml`

Also, found this
The bottom part might or might not be relevant: https://github.com/kubernetes/kubern

[2019-05-13 18:13] afgane commented on #6
Re. the `initdb-configname`: Nuwan's PR to the upstream chart should fix that: https://github.com/helm/charts/pull/13705

[2019-05-13 18:23] nuwang commented on #6
I've already fixed some of this in the chart. Let me push them in (was waiting for the upstream PR to go through)

[2019-05-13 19:22] afgane opened #9 "Try using the Bitnami Docker image with the Postgres chart"
Done in https://github.com/CloudVE/galaxy-kubernetes/commit/2f421f240e1ba952f8a73a5432f3236f7f5d6de7

Check if the database comes up:
- [x] on the first start
- [x] on subsequent starts
- [x] make sure we're using the existing claim

[2019-05-14 03:55] almahmoud commented on #6
Re: slack conversation

Helm v2.8.0 works on GKE with alpha cluster 1.13.5(.10).
From GKE cloud console to get it working:
First time:
`wget https://storage.googleapis.com/kubernetes-helm/helm-v2.8.0-linux-amd64.tar.gz && tar zxfv helm-v2.8.0-linux-amd64.tar.gz && cp linux-amd64/helm . && kubectl create clusterrolebinding user-admin-binding --clusterrole=cluster-admin --user=$(gcloud config get-va

[2019-05-15 10:09] nuwang opened #11 "Galaxy web and job deployments have no liveness and readiness probes"

[2019-05-15 12:56] afgane commented on #11
To start off, we can reuse the probes from the v2 chart: https://github.com/galaxyproject/galaxy-kubernetes/blob/develop/galaxy-stable/templates/deployment.yaml#L96

[2019-05-16 19:15] almahmoud commented on #7
Re-opening this issue, given the development with duplicate keys (`static-map` at least one of them) not being accepted if we treat the content as real yaml.
This is a somewhat relevant issue: https://github.com/galaxyproject/ansible-galaxy/issues/42
Moving forward for the galaxy conf files, in order to keep our current (or similar) structure where the contents get run as a whole through tpl, we h

[2019-05-16 20:34] nuwang commented on #7
Enis and I briefly described the possibility of sending it in as a multi-line string, and then doing the handling on the client side. However, that may not work either, because whichever way we do this, this is invalid yaml and won't parse.

[2019-05-17 12:26] nuwang opened #13 "Ensure Galaxy can be run under a URL path prefix."

[2019-05-22 17:40] #13 closed, assigned to nobody

[2019-05-28 14:49] afgane opened #14 "Get tools from the CMVFS working with the Minimal image"
Galaxy project CVMFS contains hundreds of tools and their dependencies so linking and using those would significantly simplify how tools are made available in a Galaxy deployment.

- [x] Add an `integrated_tool_section.xml` list of sections as a ConfigMap (similar to https://github.com/gvlproject/gvl.ansible.filesystem/blob/master/files/galaxy-var/integrated_tool_panel.xml)
- [x] Copy the ConfigMa

[2019-05-28 14:49] afgane commented on #14
First pass: https://github.com/CloudVE/galaxy-kubernetes/commit/9a899db695112cf628b0d897be1a8a19ada3e5a4

[2019-05-28 15:08] afgane opened #15 "Make use of the new Galaxy Helm chart within CloudMan"
Make CloudMan 2.0 use the Galaxy Helm chart available at
https://github.com/CloudVE/galaxy-kubernetes/tree/v3/galaxy

[2019-05-28 15:09] afgane commented on #15
First pass available in https://github.com/galaxyproject/cloudman/commit/dff1a158348c303a32c36ac2724b51fa41cd2c55

[2019-05-28 15:14] afgane commented on #13
Just a note that we will likely still need to revisit this in the future to support arbitrary prefix vs. only `/galaxy`.

[2019-05-28 15:15] nuwang commented on #13
Won't setting the ingress to an arbitrary path solve that?

[2019-05-28 15:22] afgane commented on #13
I was thinking more from the CloudMan/Launch standpoint of being able to assign the prefix at runtime but we should actually move that into its own issue.

[2019-05-28 15:42] afgane opened #16 "Configure Galaxy in the chart to use the K8S job runner"
The way to go will be to use the 2-container pod staging runner (i.e., `PulsarKubernetesCoexecutionJobRunner`), which will allow worker-based data staging and better job monitoring: https://github.com/galaxyproject/galaxy/pull/7835.

However, given the GCC deadline with the need to use this for multiple training sessions, we should probably start off with the `KubernetesJobRunner` that's been inte

[2019-05-28 15:51] afgane opened #17 "Enable data persistence via CloudMan"
Email text from @nuwang:

I've been looking into the various storage options for Kubernetes. Have looked into a fair number of options, including the AWS EBS dynamic provisioner, Amazon EFS, NFS provisioner, OpenEBS, iSCSI, longhorn, Amazon Storage gateway etc.

The essence of the problem boils down to what is the "best" way to handle storage on Kubernetes. The answer appears to boil down to two p

[2019-05-28 15:53] afgane commented on #17
IAM role assignment implementation for AWS: https://github.com/galaxyproject/cloudlaunch/commit/24ac615b175e632c2b5269e5b6d4b0a1eec13d42

[2019-05-28 19:18] afgane commented on #3
Following today's meeting (https://github.com/CloudVE/mgmt/blob/master/weekly-meetings-agenda.md#2019-05-28), we'll also need to add a template for the `integrated_tool_panel.xml` that contains all the desired sections only. The list of tools will be populated automatically by Galaxy as the process starts up.

[2019-06-03 17:31] jmchilton commented on #16
Sorry I didn't make more rapid progress on the Pulsar piece of this - I've been putting out fires for the last two weeks it feels like. I think proceeding with the regular K8 runner pre-GCC is a totally fine plan - I'm still going to try to have the Pulsar piece more stable and documented before then.

[2019-06-03 21:21] almahmoud opened #20 "K8S Runner/Tools errors"
Just documenting some issues discussed with Nuwan today and possible solutions:

1) Job pod error, when trying to delete input files:
`galaxy.objectstore CRITICAL 2019-06-02 11:00:29,685 None delete error [Errno 13] Permission denied: '/galaxy/server/database/jobs_directory/000/4/working/input_f.fastq.gz’`
xref: https://github.com/crs4/container-galaxy-elixir-is-varcall/blob/master/docs/making_gal

[2019-06-04 06:05] nuwang commented on #15
This is working as expected now, and new launches use the latest chart.

[2019-06-04 06:05] #15 closed, assigned to nuwang

[2019-06-04 18:24] almahmoud commented on #20
Also documenting the tools that aren't loading properly (unrelated to any of the above):

[code]
[code]

[2019-06-05 21:30] #9 closed, assigned to jdavcs

[2019-06-05 21:43] afgane commented on #7
The final decision was to just treat each ConfigMap as a multi-line string and deal with the invalid yaml downstream.

[2019-06-05 21:43] #7 closed, assigned to almahmoud

[2019-06-05 21:51] afgane commented on #14
In the end, we are really using the list of tools and tool definitions from the CVMFS while the tool binaries are resolved via mulled containers. As long as a mulled container exists, this approach will work. For any missing mulled containers, we should create an issue or make a PR to have it added, I'm guessing here https://github.com/BioContainers/containers. Using the Conda dependencies that ex

[2019-06-05 21:51] #14 closed, assigned to almahmoud

[2019-06-05 22:37] afgane opened #21 "Allow custom tool installation"
In addition to the tools available on the CVMFS, we need to enable the option to install additional tools. There are probably 2 parts to this: (1) data persistence via CloudMan, and (2) Galaxy configuration. In this issue, we'll focus on the Galaxy configuration.

- [x] Add a local `shed_tool_conf.xml`
- [x] ~~Define an SQLite install database~~
- [ ] Test and document the procedure

[2019-06-05 22:41] afgane opened #22 "Move shed_tool_conf.xml and tool_conf.xml into ConfigMaps"
Using the tool confs from the CVMFS makes it difficult to make any changes to the list of available tools for the chart users so making a ConfigMap for each of those files would increase configurability. It would also help avoid ghost updates then changes are made to the CVMFS. The downside is that any new tools installed onto the CVMFS will not be included in the future so some tracking/syncing m

[2019-06-05 22:42] afgane opened #23 "Document running multiple Galaxy instances on the same cluster"
This should hopefully be a matter of defining a new proxy prefix for a deployment but let's try it and see.

[2019-06-05 22:44] afgane opened #24 "Document the chart"
Cover tasks such as, and more:
- [x] Installation
- [x] Deployment
- [x] Updates
- [x] Roll backs
- [x] Debugging

[2019-06-05 22:46] afgane opened #25 "Enable cluster log storage with Elasticsearch and Kibana"
We should have a mechanism for storing container logs for inspection and analytics after a container has been deleted from the cluster. Seemingly an Elasticsearch with Kibana is a one of such solutions: https://kubernetes.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/

[2019-06-05 22:48] afgane opened #26 "Move the sensitive configs from values.yaml into secrets"

[2019-06-06 01:26] almahmoud commented on #26
@nuwang  and I briefly discussed this along with the database scripts changes in this PR: https://github.com/CloudVE/galaxy-kubernetes/pull/27
One topic was whether it's worth leaving some in config maps for settings that are not sensitive and others making secrets, vs doing only secrets to keep it simple and not have two separate types of configs.
It wouldn't be hard to implement having both, the

[2019-06-06 10:06] nuwang opened #28 "Generate a random alpha num password as the default galaxy db password"
@almahmoud I forgot one thing! We should generate a random alphanum if no database password is specified, and leave this blank by default. I think the postgres chart would be a good point of reference. The generated pass should probably be stored in a secret.

_Originally posted in https://github.com/CloudVE/galaxy-kubernetes/pull/27_

[2019-06-06 10:47] nuwang opened #29 "Enable support for specifying custom database init scripts?"
We may need to provide a mechanism for providing custom db init scripts, as a means of importing preinstalled workflows etc. However, the 1MB limit for configmaps/secrets is going to be a problem.

[2019-06-06 10:48] nuwang opened #30 "Enable support for running custom init containers"
We should provide a mechanism for running custom init scripts like the postgres chart does. These scripts would provide a hook to perform such tasks as installing additional tools on startup, downloading remote data or whatever else a user may wish to do

[2019-06-06 14:11] nuwang opened #31 "Add helm install and upgrade hooks to run managedb.sh upgrade"

[2019-06-07 16:23] almahmoud commented on #21
First part done with init container here: https://github.com/CloudVE/galaxy-kubernetes/pull/34

[2019-06-07 16:27] almahmoud commented on #22
tool_conf.xml through configmaps done in https://github.com/CloudVE/galaxy-kubernetes/pull/34.
For shed_tool_conf.xml, given that the one on CVMFS is 18,000+ lines, if we add it to configmaps it would kind of have to be through another file, which would make editing it still hard in cloudman, so not sure what a good answer is for that

[2019-06-07 16:55] afgane commented on #26
Following a verbal discussion, it was decided to either use secrets for basically all the config maps (e.g., production deployment) or not (e.g., dev mode). One usability downside when using the secrets is that they are opaque in any dashboard making edits cumbersome at best (e.g., have to decode the value, modify it, and encode it again before applying it). Note that the values stored as secrets

[2019-06-07 16:55] #26 closed, assigned to almahmoud

[2019-06-07 20:41] afgane opened #35 "Compose a minimal version of the Chart values file"
For development purposes in particular but also for local installations where a toolset different from that of Galaxy Main is desired, we should have a `values.yaml` file that uses pretty much only the default Galaxy values, omits the integration with the CVMFS, but retains the K8S job runner.

[2019-06-07 20:49] almahmoud commented on #35
Although not a top priority, I believe this will be easier with custom init containers so that we can change what files get copied and/or created directly from the values file, thus I will also do a basic version of https://github.com/CloudVE/galaxy-kubernetes/issues/30 while making this `values-minimal.yaml` file

[2019-06-09 15:22] nuwang commented on #11
While we have a liveness/readiness probe for the web handler, we do not have a readiness/liveness probe for the job handler.

[2019-06-09 17:30] nuwang commented on #35
Closed by: https://github.com/CloudVE/galaxy-kubernetes/commit/ee1b3eb3341149ebdfb5a720bc9fd4e6173f504b

[2019-06-09 17:30] #35 closed, assigned to nobody

[2019-06-09 17:33] nuwang opened #36 "Should we change values-minimal to values.yml and values.yml to values-production.yml?"
Standard charts seem to follow that pattern: https://github.com/helm/charts/tree/master/stable/postgresql

We can get cloudman to set the production values, although those values will live in cloudman's yml file. Alternatively, we can get the GVL chart to do it.

[2019-06-10 15:05] almahmoud commented on #36
+1 for the renaming

[2019-06-10 16:12] almahmoud opened #38 "Create a script for booting up K8s clusters in bulk"
To be used for GCC2019 K8s Training session

[2019-06-10 18:17] afgane opened #39 "Test workflows"
Pick a workflow and (try to) run through it. Fix the issues as you discover them.
- [x] [Galaxy 101](https://training.galaxyproject.org/training-material/topics/introduction/tutorials/galaxy-intro-101/tutorial.html) [Sergey]
- [x] [Sequence analysis mapping](https://training.galaxyproject.org/training-material/topics/sequence-analysis/tutorials/mapping/tutorial.html) [Enis]
- [x] [Microbial varian

[2019-06-10 22:05] afgane commented on #39
Comments from going through the [Sequence analysis mapping](https://training.galaxyproject.org/training-material/topics/sequence-analysis/tutorials/mapping/tutorial.html) tutorial:
- [x] FastQC jobs never end (#41)
- [x] Missing mm10 reference genome (along with many more; only a single `.loc` file seems to be loaded)
- [x] ~~MultiQC fails saying samtools is missing (https://github.com/galaxyproje

[2019-06-10 22:08] afgane opened #40 "Run tool tests for all the tools"
Instructions from Martin (https://gist.github.com/martenson/1eca8774ef9ddd47e013258eb14663a7):

[code]

[2019-06-10 22:34] afgane opened #41 "Get FastQC working: local fix and global fix"

[2019-06-11 01:12] afgane opened #42 "Test CloudMan 2 on all cloud providers"
- [x] AWS
- [ ] Azure
- [ ] GCP
- [ ] Jetstream
- [x] NeCTAR

[2019-06-11 02:52] afgane commented on #42
On GCP, the tiller pod does not start. The status for the pod started by CloudMan-boot reports
[code]
If I manually `docker exec` into the rancher container and run:
[code]
it reports
[code]
A larger node does not help. Running `kubectl get nodes -owide`, returns `No resources found.`, but the same happens on AWS (where the cluster is operational).

[2019-06-11 04:23] nuwang commented on #42
The specific taint on the node is `node.kubernetes.io/network-unavailable`. The taint is being applied when we activate the gcp cloud provider in k8s. One suspect is the host name as described here: https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#gce
Another could be a firewall issue perhaps? Yet a third could be a missing IAM policy. It should be noted that storage pro

[2019-06-11 12:44] #28 closed, assigned to almahmoud

[2019-06-11 13:11] #36 closed, assigned to nobody

[2019-06-11 13:59] nuwang opened #44 "Make galaxy user id and group id specifiable as vars"
Currently, the chart hardcodes references to the uid/gid. It would probably be good to move this to the values file.

[2019-06-12 19:28] nuwang commented on #41
Local fix implemented in: https://github.com/CloudVE/cloudman-helm/commit/200c9ca9928eb4063a8822d6dddf4e781a188203

[2019-06-12 19:34] nuwang commented on #39
Bacterial Variant Calling comments:

- [ ] Installing snippy from toolshed works, but the toolshed state is stuck at: “Installing Tool Dependencies”.
- [ ] changing the data type after upload results in an endless spinning wheel with “Metadata is being detected” or a message like “Try auto-detecting datatype or set it manually”
- [ ] Snippy generates an error

[code]

[2019-06-13 15:36] almahmoud commented on #30
Just to be clear, do we want init `sh` scripts put in as configmaps or customizable init containers with a custom image and command?

[2019-06-14 21:22] almahmoud commented on #39
The most common error that came out of going through my tutorial is the fact that all the tools under the `deeptools` package don't work. The first problem a few days ago was that the job containers were using a galaxy image which didn't have the binaries for the tools in its path. That seems to be solved now, as mulled containers seem to be prepared for the job. However, that is not successfully

[2019-06-15 13:48] nuwang commented on #39
This appears to be a docker-in-docker issue. Since involucro needs to build the docker image, that naturally means we will need a running docker daemon. The first question I suppose is, can we not pre-build the image instead?

If we must do this, I think mapping in the parent's docker socket (i.e the one used by kubernetes) is highly undesirable.
This article has a good discussion on alternatives:

[2019-06-15 14:52] nuwang commented on #39
With regard to the de-novo workflow: The issue is that the workflow execution manager doesn’t support db-skip-locked. Removing the db-skip-locked handler allows the workflow to execute. It looks like we'll have to have a dedicated handler with an alternative assignment method for processing workflows.

[2019-06-15 14:55] nuwang commented on #39
The denovo workflow doesn't run because of the following issue
[code]
The issue is clearly caused by busybox not supporting the -e flag. It looks like trimmomatic will need a new container with this issue fixed.

[2019-06-16 12:53] nuwang commented on #40
History containing results so far: https://3.208.202.35/galaxy/u/nuwan/h/testhistory

[2019-06-17 14:51] natefoo commented on #39
It should support it but it's not recommended because it means multiple workflows in the same history can be scheduled concurrently, jumbling up the datasets. I mentioned to @afgane just now:

[2019-06-17 21:48] almahmoud opened #46 "Getting mulled containers to work for deeptools"
Opening a separate issue to keep track of progress and later PR's regarding this, as they will likely be across multiple repositories:

Using `deepTools` as an example from the workflow I was testing (https://github.com/CloudVE/galaxy-kubernetes/issues/39), but I am guessing these fixes extend to other mulled containers:

- [ ] `curl` needs to be added to the image, as Galaxy will use `curl` to fe

[2019-06-18 17:30] almahmoud opened #47 "A process for setting up Kubernetes environment for use with Galaxy Helm chart"
Following a conversation with @eschen42 at GCC 2019, it'd be nice to create a recipe for (re)creating a  Kubernetes environment that can be used for deploying Galaxy. Here is an outline of the procedure we used to create VMs for the GCC training and below is a list of tasks that should generalize the approach for others of use.

## Instance launch procedure used at GCC
1. Start [CloudLaunch](https

[2019-06-18 20:33] afgane commented on #41
Global fix PR: https://github.com/galaxyproject/usegalaxy-tools/pull/19

[2019-06-19 03:25] #41 closed, assigned to nobody

[2019-06-19 17:22] afgane commented on #21
See the commit message in the above commit but it turns out we do not need a dedicated install database because we are not packaging a deployment to include tool installations.

Something to remember however, is that if we end up needing to include the install database at some point, it will probably need to be a Postgres database because SQLite had concurrency issues where when multiple pods (e.g

[2019-06-19 18:47] nuwang commented on #21
How would we go about building a container with preinstalled tools though?

[2019-06-19 22:45] afgane commented on #21
We would not without an install database.

[2019-06-23 21:45] pcm32 commented on #46
Is there anything wrong with using the existing container through the automatic mulled resolution https://quay.io/repository/biocontainers/deeptools ? Then you don't need invocuro nor create containers inside the galaxy image with-docker-in-docker... or am I missing something?

[2019-06-23 21:49] pcm32 commented on #30
Yes, we rely on this kind of functionality on our v2 setup. Current approach in v2 is that startup script will try to start a `post-start-actions.sh` script expected in a defined location. The admin can write whatever they want to that `post-start-actions.sh`. This is meant currently at the other side for operations that require a running galaxy instance. We use it in particular to install workflo

[2019-06-23 21:54] pcm32 opened #48 "Additional documentation required for running on minikube"
Minikube is a common choice for a local k8s cluster. When I tried to run on minikube I couldn't access the web interface. I had to enable the ingress addon for it to work (which you might want to mention in the docs or faqs):

[code]

and then access the instance on `http://$(minikube ip)/`. Trying with `http://$(minikube ip)/galaxy/` as expected from README didn't work. You might want to alter in

[2019-06-24 05:11] almahmoud commented on #46
That would be the ideal solution, but with the setup that we have right now (default configs from CVMFS) it’s trying to create the image instead of fetching it. There’s most likely something missing, but I haven’t figured out why this is happening :/ if you have any insight/possible solutions, that’d be awesome!!

[2019-06-25 10:55] nuwang commented on #42
The GCP issue should be fixed with this: https://github.com/CloudVE/cloudman-boot/commit/7861b318b2216528c924b78d90b96bd5e903932b

[2019-06-25 21:26] pcm32 opened #49 "Config files pushed by chart should be optional (to allow decision on using the ones in the container)"
I tried using the setup with a container that extends galaxy/galaxy:19.05 with all the config files that I use in my previous setup (as it also contains whitelists, dynamic destinations, etc), but even if I don't set `configs.<some-config> = file-content`, these files get mounted from the config files, overriding the ones I want to use.

I used the following helm config file with the chart:

[code

[2019-06-25 21:29] pcm32 commented on #49
The same happens with the containers_resolvers_conf.xml that I'm trying to use from the container.

[2019-06-25 21:38] pcm32 commented on #49
I could put the file in a different path and then point from the galaxy.yml config file to those... but maybe this is a workaround and the fact that `configs:` doesn't contain a file should be enough for it not to be injected by the chart...

[2019-06-25 21:44] pcm32 opened #50 "Shouldn't nginx be added as a separate container in the web pod?"
I think that for many production uses NGINX is a better alternative at the front. It should probably be added as a container to the pod where web runs and communicate through a socket or something with UWSGI running on the galaxy container.

[2019-06-26 01:44] almahmoud commented on #49
To my understanding, the way Helm values work is that `values.yml` is the default and any configs not specified in the new `values` file or with `--set` will always inherit from that default file, meaning that for the ones we pre-specified, not adding them does not mean they do not exist but rather that the values won't be changed.
I believe the reason we included those config files specifically i

[2019-06-26 01:49] almahmoud commented on #50
Coincidentally, we had a conversation about this earlier today. A potential problem to doing that by default, that @nuwang brought up, is that it might make the setup more dependent on the underlying infrastructure. Perhaps we could add it but have an option in values to choose whether to just use uwsgi or use nginx?

[2019-06-26 10:29] nuwang commented on #50
It seems like, with uwsgi, an additional nginx pod may not buy us much: https://github.com/nginxinc/kubernetes-ingress/issues/143#issuecomment-347814243
The ingress controller will already be a high end web-server (often already nginx), so using caching headers will be sufficient to get the controller to forward static content. In addition, uwsgi is pretty decent at serving static content - the op

[2019-06-26 10:38] nuwang commented on #49
In addition to what Alex said, there's already a null/empty check in place: https://github.com/CloudVE/galaxy-kubernetes/blob/666f36537741d41cf7b167cfecc4da571d04146b/galaxy/templates/configs-galaxy.yaml#L18 so the idea was that you could set the entry to null in your values file if you just want to revert to the container version.
[code]

Alternatively, you can also try `helm install --set "confi

[2019-07-11 11:36] afgane commented on #24
At least the first pass is complete with the
- [Chart readme](https://github.com/galaxyproject/galaxy-helm/blob/master/README.md), focused on chart options
- [A tutorial on installing Galaxy via the chart](https://training.galaxyproject.org/training-material/topics/admin/tutorials/k8s-deploying-galaxy/tutorial.html)
- [A tutorial on managing a Galaxy installation](https://training.galaxyproject.or

[2019-07-11 11:36] #24 closed, assigned to nobody

[2019-07-11 11:43] afgane commented on #38
This can be a follow-up to https://github.com/CloudVE/galaxy-helm/issues/47.

[2019-07-11 14:09] afgane commented on #11
A first pass at the job handler readiness probe (by @luke-c-sargent): https://github.com/galaxyproject/galaxy-helm/pull/45

There is also some WIP on the same branch for the liveness probe that relies on a (future) PR to Galaxy that will provide an opportunity to determine the status of a job handler. This is a bit more challenging undertaking because job handlers operate as two independent loops.

[2019-07-11 14:21] afgane commented on #23
Fairly self-describing, at least for the time being, when using multiple projects on CloudMan and can just fold this into future tutorial and/or documentation when the functionality is more polished.

[2019-07-11 14:21] #23 closed, assigned to nobody

[2019-07-11 14:33] afgane opened #52 "Set job resource requirements and limits"
Job runtime limits were  during the GCC2019 code fest: https://github.com/galaxyproject/galaxy/pull/8311

Job resource requirements are technically implemented but defaults need to be enabled and then tools categorized. Add ability to specify resource limits in [`values.yaml`](https://github.com/galaxyproject/galaxy-helm/blob/2cb678d7d37fa67be368e8eab6860825da42b97f/galaxy/values.yaml#L163). Simil

[2019-07-11 14:41] afgane opened #53 "Try using AWS EFS provisioner for data persistence"
[AWS Elastic File System (EFS)](https://aws.amazon.com/efs/) is a dynamically scalable file system that holds the promise of resolving potential issues with a local NFS file system currently employed in CloudMan.
A Helm chart for using EFS as the file system exists so need to give it a try to see how it behaves for AWS-deployments: https://github.com/helm/charts/tree/master/stable/efs-provisioner

[2019-07-11 14:50] afgane opened #54 "Fix the ingress to accept a URL w/o a trailing slash"
When accessing Galaxy at `<IP>/galaxy/` the trailing slash is currently required and it trips up users.

[2019-07-11 15:14] mvdbeek commented on #46
You'd need to update deeptools I guess, we only recently started building deeptools biocontainers, so the version used by https://github.com/galaxyproject/training-material/blob/master/topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga isn't built.

[2019-07-16 13:58] almahmoud commented on #22
Should we close this, or do we still want a copy of `shed_tool_conf.xml` from CVMFS in the values file?

[2019-07-16 14:34] almahmoud commented on #6
Works very well on GKE so closing this issue

[2019-07-16 14:34] #6 closed, assigned to almahmoud

[2019-07-16 14:36] almahmoud opened #55 "Rancher-Keycloak integration"
Enable login to Rancher for Keycloak `admin` user

[2019-07-16 14:36] almahmoud commented on #55
PR-ed in https://github.com/CloudVE/cloudman-boot/pull/2

[2019-07-16 16:12] #22 closed, assigned to almahmoud

[2019-07-16 19:33] afgane commented on #22
During the weekly Federated Galaxy call a decision was made not to include the ~18,000 line `shed_tool_conf.xml` in the chart. While this limits the configurability of tools within the chart, we can always revisit the topic after we receive some feedback on potential use cases.

[2019-07-18 06:31] afgane commented on #16
xref https://github.com/galaxyproject/galaxy/pull/8166

[2019-07-18 07:23] almahmoud opened #56 "A chart process for Galaxy database migrations"
For install (at `helm install`):
- Try adding an extraInitContainer on the postgres chart using the galaxy image and running the `upgrade_db` script

For upgrades/downgrades (for already running Galaxy/DB):
- Upgrade/Downgrade Helm hooks that will run when doing `helm upgrade/helm downgrade`

[2019-07-18 13:51] afgane commented on #17
- [ ] Test Azure

Otherwise, this is now implemented. One scenario that is not currently supported is the ability to shut down a cluster and start it back up while specifying an existing PVC. The Galaxy Helm chart has an option to supply a PVC at launch but the CloudMan would need to be extended to store the PVC ID somewhere and be able to retrieve it/supply it to CloudLaunch during launch time. F

[2019-07-18 13:55] nuwang commented on #17
An existing thread on restoring PVCs: https://github.com/kubernetes/kubernetes/issues/67138

[2019-07-18 14:18] nuwang commented on #17
So it looks to me like perhaps we should be using backup/restore for this instead. On cluster terminate, we can offer the user a choice to backup/archive their cluster, and offer an option to restore state after launching a fresh new cluster.
Two solutions:
1. https://velero.io/docs/v1.0.0/index.html
2. https://appscode.com/products/stash/

[2019-07-31 19:37] #54 closed, assigned to nuwang

[2019-08-01 13:35] pcm32 commented on #52
What I'm currently doing (with a different runner, but intend to replicate here, all through dynamic destinations), is to use the same idea of resource buckets shown in the links that you cite, but with automatic resubmissions. So you can still assign outright certain tools to intermediate buckets, but for all the tools where you don't know where to assign them, just add them to a small bucket and

[2019-08-07 18:43] natefoo commented on #50
I'm not sure why they discarded the idea of uwsgi protocol support in ingress, but yeah, seems that ingress serves most of the role of what we use nginx for in production. It doesn't do static but since uWSGI's offload threads should be on the overhead probably won't be that high to have uWSGI do it.

[2019-10-05 11:05] pcm32 commented on #53
Jon Manning from our group generated a setup that makes the older chart work against EFS using EKS https://github.com/ebi-gene-expression-group/galaxy-kubernetes/pull/1

This goes beyond the helm chart capabilities of course.

[2019-10-05 11:08] pcm32 commented on #50
What about the configuration that currently is recommended for nginx in a production Galaxy setup? How would you plan to push that through to configure the ingress in an equivalent manner?

[2019-10-06 11:44] nuwang commented on #50
@pcm32 Some can be sent in via manual annotations as in this example: https://github.com/galaxyproject/galaxy-helm/blob/d0f9b42b8f6c5e5a6a9c862ffc982a2bbb7c7023/galaxy/values.yaml#L49
but that of course, assumes the ingress controller is nginx.

Others could potentially be configured on the ingress controller itself. That seems like a deployment/ingress controller specific thing?

Are there option

[2019-10-21 13:18] nuwang commented on #17
Closing this as there's a new issue to track backup/restore: https://github.com/galaxyproject/cloudman/issues/98

[2019-10-21 13:18] #17 closed, assigned to nuwang, jdavcs

[2020-05-04 14:13] nuwang commented on #40
A couple of fixes suggested by @mvdbeek that reduced failures. Need to be done prior to running the tests.
[code]

[2020-10-16 19:16] nuwang commented on #40
export GALAXY_TEST_DEFAULT_WAIT=3600
pip install planemo ephemeris pysam
get-tool-list -g https://usegalaxy.org/ -o test.galaxy.yml --skip_changeset_revision
shed-tools test -a $API_KEY -g https://usegalaxy.eu/ --parallel_tests 10 -t test.galaxy.yml
planemo test_reports tool_test_output.json --test_output_xunit tool_test_output.xunit --test_output tool_test_output.html

[2020-10-19 21:47] almahmoud commented on #40
First try failed due to: `OSError: [Errno 24] Too many open files`
I added `ulimit -n 4096` and so far has not failed yet. However, `ephemeris` should probably be optimized to not have thousands of files open at once, I'm guessing that's a bug.

Small snippet of `lsof 2>/dev/null | grep ubuntu  | sort`
[code]

Count (so far, ~1 hour in), i.e. `lsof 2>/dev/null | grep ubuntu | cut -f 1 -d ' ' | sor